datadog:
  config:
    tags: {{ salt.grains.get('roles', ['datadog']) }}
  pkg: mydatadog
  api_key: your_datadog_api_key
  integrations:
    mongodb:
      datadog_password: NotSecure
      admin_password: NotReal
    mysql:
      datadog_password: NotSecure
      host_access: '*.*'
    elasticsearch:
      settings:
        instances:
          - url: http://localhost:9200
