datadog:
  pkg: mydatadog
  conf_file: /usr/local/etc/datadog/datadog.conf
  config:
    api_key: your_datadog_api_key
  integrations:
    elasticsearch:
      settings:
        instances:
          - url: http://localhost:9200
