{% set datadog = salt['grains.filter_by']({
    'default': {
        'pkg_name': 'datadog-agent',
        'service': 'datadog-agent',
        'config': {
            'dd_url': 'https://app.datadoghq.com',
            'mount': 'no',
            'api_key': '',
        }
    },
    'Debian': {
        'plugin_pkgs': [],
        'pkg_deps': [
            'apt-transport-https'
        ],
    },
    'RedHat': {
        'plugin_pkgs': [],
        'pkg_deps': [],
    },
}, grain='os_family', merge=salt['pillar.get']('datadog'), base='default') %}
